aside {
  background-color: white;
  color: green;
  padding: 20px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border: 1px solid #388e3c;
  flex-basis: 20%;
}

.side-menu-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.side-ul {
  padding-left: 20px;
}

.cat-link {
  color: green;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.cat-link:hover {
  color: #d0cdcdc3;
}

aside::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 212, 212, 0.2);
  transition: all 0.3s ease-in-out;
}

aside:hover::before {
  left: 0;
}
