.black-white-shimmer-text {
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(45deg,  black, black, white,black, black);
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: shimmer 4s linear infinite;
}

.raindbow-shimmer-text {
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(45deg, #f00, #f80, #ff0, #8f0, #0f0, #0f8, #00f, #80f, #f0f, #f08, #f00);
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: shimmer 10s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
